body{background-image:url(pics/hatter.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}

.card-deck {
    position: relative;
    z-index: 2;
    }       

.c-item {
    height: 480px;   
    }
    
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0,6);
    }
.overview{
    height: 180px;
    }